<ion-header>
  <ion-navbar> <ion-title> Your Book Lists </ion-title> </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <div item-left>Lists</div>
      <div item-right>Last Updated</div>
    </ion-list-header>
    <!--
      <ul>
        <li class="text" *ngFor="let item of (items | async)">{{ item.name }}</li>
      </ul>
    -->

    <button
      ion-item
      *ngFor="let list of (lists | async)"
      (click)="itemTapped($event, list)"
    >
      <ion-icon name="book" item-start></ion-icon>
      {{ list.name }}
      <div item-right padding>{{ list.lastModified }}</div>
    </button>
  </ion-list>
  <ion-fab bottom right>
    <button (click)="createList($event)" ion-fab color-primary>
      <ion-icon name="add" item-start></ion-icon>
    </button>
  </ion-fab>
</ion-content>
