<ion-header>
  <ion-navbar> <ion-title> Your Book Lists </ion-title> </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-divider color="light">
      <div item-left>Lists</div>
      <div item-right>Book Count</div>
    </ion-item-divider>
    <ion-item-group>
      <ion-item-sliding *ngFor="let list of (lists | async)">
        <button ion-item (click)="itemTapped($event, list)">
          <ion-icon name="book" item-start></ion-icon>
          {{ list.name }}
          <ion-badge item-end padding>{{ list.bookCount }}</ion-badge>
          <!-- <div item-right padding>{{ list.bookCount }}</div> -->
        </button>
        <ion-item-options side="right">
          <button (click)="deleteList(list.name)" ion-button color="danger">
            <ion-icon name="close"></ion-icon>
            Delete
          </button>
        </ion-item-options>
      </ion-item-sliding>
      <ion-item *ngIf="inputVisible">
        <ion-label fixed>List Name</ion-label>
        <ion-input
          #newListInput
          clearInput
          clearOnEdit
          type="text"
          value=""
          [(ngModel)]="listName"
          (keydown.enter)="createList($event)"
        ></ion-input>
      </ion-item>
    </ion-item-group>
  </ion-list>
  <ion-fab bottom right>
    <button (click)="createList($event)" ion-fab color-primary>
      <ion-icon name="add" item-start></ion-icon>
    </button>
  </ion-fab>
</ion-content>
