<ion-header>
  <ion-navbar>
    <ion-title>{{ listName }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content (swipe)="swipeEvent($event)">
  <ion-list>
    <ion-item-divider color="light">
      <div item-left>Books</div>
      <div item-right>Date Added</div>
    </ion-item-divider>
    <button
      padding
      ion-item
      (click)="editBook(book.title)"
      *ngFor="let book of (books | async)"
    >
      <ion-thumbnail *ngIf="book.photoURL !== ''" item-start>
        <img [src]="book.photoURL" />
      </ion-thumbnail>
      {{ book.title }}
      <div item-right padding>{{ book.dateAdded }}</div>
    </button>
  </ion-list>
  <ion-fab bottom right>
    <button (click)="addBook($event)" ion-fab color-primary>
      <ion-icon name="add" item-start></ion-icon>
    </button>
  </ion-fab>
</ion-content>
